Tugas_5_Modul 7 Impmentasi AI Keuangan_Muhamad Indra Ikmaludin.json
{
  "name": "Tugas_5_Modul 7 Impmentasi AI Keuangan_Muhamad Indra Ikmaludin",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -304,
        176
      ],
      "id": "cb8f2c01-c482-4ef4-97ed-01b36b1d2e02",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        560,
        160
      ],
      "id": "8fff7027-689c-42d1-83d5-39ed763595ee",
      "name": "Merge"
    },
    {
      "parameters": {
        "url": "https://www.cnbcindonesia.com/market/rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "4bc1acc1-9fac-4591-a31f-90cf289991a3",
      "name": "CNBC Indonesia"
    },
    {
      "parameters": {
        "url": "https://finance.detik.com/rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        0,
        176
      ],
      "id": "0f89e282-53e8-413a-b181-f872ab476532",
      "name": "Detik Finance RSS"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "text",
              "cssSelector": "body"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -16,
        544
      ],
      "id": "5add9eab-002a-40d6-a5ce-1ea0e269cffe",
      "name": "HTML"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "=text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        176,
        544
      ],
      "id": "ccef39ec-a055-4f26-bc72-15a0dedbf634",
      "name": "Menggabungkan menjadi 1 blok teks besar"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Berikut adalah 10 artikel berita keuangan teratas hari ini: {{ $json.text }}. Berdasarkan teks di atas, tolong ringkas 5 berita utama pasar hari ini dalam 5 poin.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        384,
        544
      ],
      "id": "d4eb69fd-483a-48f7-9bc1-66bdaa08d658",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "xiaomi/mimo-v2-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        384,
        752
      ],
      "id": "d677d760-1e46-4c67-ae8d-1805de091db2",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "k46eYPSR4KLoihMW",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=5388551320",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        736,
        544
      ],
      "id": "0b4c2ad7-1176-4680-a5f2-204c79438e43",
      "name": "Send a text message",
      "webhookId": "019778ff-4018-4820-b1ca-8dae8bf316a5",
      "credentials": {
        "telegramApi": {
          "id": "RJZQZHGDG1PqjhLN",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        768,
        160
      ],
      "id": "238526cd-16fb-4c9a-afe5-1882a1cedb81",
      "name": "Limit"
    },
    {
      "parameters": {
        "url": "={{ $json.link }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        976,
        160
      ],
      "id": "1bc6d287-1c19-41de-bc9e-3222aee3a080",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "CNBC Indonesia",
            "type": "main",
            "index": 0
          },
          {
            "node": "Detik Finance RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CNBC Indonesia": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detik Finance RSS": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Menggabungkan menjadi 1 blok teks besar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menggabungkan menjadi 1 blok teks besar": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ac9ca3ed-df2f-4612-bedb-5a0c70b06c23",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0adcf940c15f27c3b96f3bd4c5c640db86e15006f716c809e8f87ae00db62d2e"
  },
  "id": "OFZwzXZ2vrw7SBpB",
  "tags": []
}