Tugas_6_Modul 7 Impmentasi AI Keuangan_Muhamad Indra Ikmaludin.json
{
  "name": "Tugas_6_Modul 7 Impmentasi AI Keuangan_Muhamad Indra Ikmaludin",
  "nodes": [
    {
      "parameters": {
        "model": "xiaomi/mimo-v2-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        0,
        368
      ],
      "id": "018b12af-9549-43ee-8d76-80047658cbb7",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "k46eYPSR4KLoihMW",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analisis teks email ini untuk tanda-tanda phishing keuangan. Fokus pada urgensi palsu, tautan mencurigakan, permintaan info pribadi, atau peniruan identitas bank. Beri skor bahaya dari 1 sampai 10. Jawab HANYA dengan format: 'Skor: [angka]'. Email: {{ $json.snippet }} Subject: {{ $json.Subject }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        0,
        176
      ],
      "id": "7ae77f20-1003-4193-b387-0fa395f49a58",
      "name": "Analisa Pishing"
    },
    {
      "parameters": {
        "jsCode": "const llmOutput = $json.text;\n// Pastikan mengambil ID dari Gmail Trigger\nconst emailMessageId = $('Gmail Trigger').item.json.id; \n\nconst match = llmOutput.match(/Skor:\\s*(\\d+)/);\nlet score = 0;\n\nif (match && match[1]) {\n  score = parseInt(match[1], 10);\n}\n\n// Bagian ini sangat penting agar ID terbaca di node Gmail\nreturn {\n  score: score,\n  id: emailMessageId\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        176
      ],
      "id": "5689f241-23f7-445c-98be-a6e534476220",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c2ae7c55-a703-4e2d-87ee-b1d04d7c9bf0",
              "leftValue": "={{ $json.From }}",
              "rightValue": "muha23056si@student.nurulfikri.ac.id",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "fdb56481-2038-43a5-be0b-9542b5745a8f",
              "leftValue": "={{ $json.From }}",
              "rightValue": "haloblu@bcadigital.co.id",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "6281361a-fd8f-4754-8725-93bfd104eb18",
              "leftValue": "={{ $json.From }}",
              "rightValue": "customer@bcalife.co.id",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "53366896-5762-4600-8c75-821b27134392",
              "leftValue": "={{ $json.From }}",
              "rightValue": "muha23056si@student.nurulfikri.ac.id",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -272,
        160
      ],
      "id": "056c44be-b25f-458a-a280-f53a4b8d6ffd",
      "name": "Cek Allowlist"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4d068096-c19e-4b40-b253-9bb0da0fed5f",
              "leftValue": "={{ $json.score }}",
              "rightValue": 6,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        576,
        176
      ],
      "id": "e6840db0-0592-4af3-b59e-a753beb3d6d2",
      "name": "Cek Skor Bahaya"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_4500910591815899548"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        912,
        64
      ],
      "id": "4d4c84ef-3971-4640-b5c9-bbde85813584",
      "name": "Memberikan Label Otomatis",
      "webhookId": "5ea0a297-27a9-496c-bd78-bbe1c6f9a590",
      "credentials": {
        "gmailOAuth2": {
          "id": "eyqvVTCCXnrjsKRn",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=5388551320",
        "text": "=⚠️ Tinjauan Email Diperlukan ⚠️ Email ini TIDAK dihapus, tapi AI mendeteksinya. Mohon periksa secara manual.  \n- Skor AI: {{ $json.score }}/10 \n- Dari: {{ $('Gmail Trigger').item.json.From }}\n- Subjek: {{ $('Gmail Trigger').item.json.Subject }}\n\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        912,
        256
      ],
      "id": "e45e1036-4843-4dcc-a1f4-e4738fc67928",
      "name": "Notif Untuk Skor Rendah",
      "webhookId": "24b202d1-09b2-4c57-b382-b8e8ac122f56",
      "credentials": {
        "telegramApi": {
          "id": "RJZQZHGDG1PqjhLN",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=5388551320",
        "text": "=Ada email baru dari: {{ $('Gmail Trigger').item.json.From }}\n\nSubject: {{ $('Gmail Trigger').item.json.Subject }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "b32ecbe9-927c-4cf0-bba5-285bff0e5195",
      "name": "Reminder Email dari Allowlist",
      "webhookId": "24b202d1-09b2-4c57-b382-b8e8ac122f56",
      "credentials": {
        "telegramApi": {
          "id": "RJZQZHGDG1PqjhLN",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -464,
        160
      ],
      "id": "f964c102-5e0e-4dae-a064-c606b41542dd",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "eyqvVTCCXnrjsKRn",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analisa Pishing",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Analisa Pishing": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Cek Skor Bahaya",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cek Allowlist": {
      "main": [
        [
          {
            "node": "Reminder Email dari Allowlist",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analisa Pishing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cek Skor Bahaya": {
      "main": [
        [
          {
            "node": "Memberikan Label Otomatis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notif Untuk Skor Rendah",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Cek Allowlist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ece8969c-3294-4257-91aa-d132466aeb45",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0adcf940c15f27c3b96f3bd4c5c640db86e15006f716c809e8f87ae00db62d2e"
  },
  "id": "DIqiFemqxE2TtCOO",
  "tags": []
}