Tugas_2_Modul 7 Impmentasi AI Keuangan_Muhamad Indra Ikmaludin.json
{
  "name": "Tugas_2_Modul 7 Impmentasi AI Keuangan_Muhamad Indra Ikmaludin",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "e7396a8d-47b2-4113-b3f0-ded5830ad68b",
      "name": "Email Trigger (IMAP)",
      "credentials": {
        "imap": {
          "id": "Vl7gmFO6Hc6ZPTO1",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.from }}",
                    "rightValue": "Tagihan",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "60f038d6-43e4-4f31-ad65-599a93d93909"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a4fd7e3f-1a16-41ab-80e2-5fdc3cdd1cec",
                    "leftValue": "={{ $json.from }}",
                    "rightValue": "Tarif",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "eb5bebab-a35e-4e4d-a2ef-7eb4da9be0eb",
                    "leftValue": "={{ $json.from }}",
                    "rightValue": "Harga",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "ff23f335-53e5-4344-b06d-ad595b1620e3",
      "name": "Switch"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        640,
        48
      ],
      "id": "e3c5f1a3-40fb-416d-b451-14f812ebec93",
      "name": "Merge",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1VAUSvEMo3PNTpaqT17EA7hcnNZffDlIkNrURcy2tpVE"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VAUSvEMo3PNTpaqT17EA7hcnNZffDlIkNrURcy2tpVE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Tanggal": "={{ $json.Tanggal }}",
            "Jumlah": "={{ $json.Jumlah }}",
            "Nominal": "={{ $json.Nominal }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Tanggal",
              "displayName": "Tanggal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Jumlah",
              "displayName": "Jumlah",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nominal",
              "displayName": "Nominal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        848,
        48
      ],
      "id": "7de9e188-aa24-40d8-b249-f831a0ba03ae",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "grofA9sptIfzIUnN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "411197d0-17af-4012-ba46-3a3f9f3d0851",
              "name": "Tanggal",
              "value": "={{ $json.date }}",
              "type": "string"
            },
            {
              "id": "918cae3b-797f-4da4-88fb-9b0a7114bd77",
              "name": "Jumlah",
              "value": "={{ $json.textPlain.match(/Total Tarif.*?([\\d\\.]+)/s)?.[1].replace(/\\./g, \"\") }}",
              "type": "string"
            },
            {
              "id": "d516a63a-137e-4cef-940e-64f022933014",
              "name": "Nominal ",
              "value": "Grab",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        48
      ],
      "id": "2ca88e8d-6291-4af6-be00-8d4a6f7b6b0a",
      "name": "Grab"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "04069de3-4ec9-431e-b939-1013e17ed615",
              "name": "Tanggal",
              "value": "={{ $json.data }}",
              "type": "string"
            },
            {
              "id": "83ab8d3f-82df-48f8-bd5e-3f0721d2ecaf",
              "name": "Jumlah",
              "value": "={{ $json.textPlain.match(/Harga\\s*Rp([\\d\\.]+)/)?.[ 1].replace(/\\./g, '') }}",
              "type": "string"
            },
            {
              "id": "d9e871c6-7871-4f2c-acc7-73bdb55a8f33",
              "name": "Nominal",
              "value": "={{ $json.textPlain.match(/Nominal\\s*(.*?)\\s*Wak tu/s)?.[1].trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        224
      ],
      "id": "5b436b37-e866-45d2-b7c0-880f514fa0a5",
      "name": "Tokopedia"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f871a14-c67d-4555-8065-502bfaa254f1",
              "name": "Tanggal",
              "value": "={{ $('Email Trigger (IMAP)').item.json.date }}",
              "type": "string"
            },
            {
              "id": "6f492d2e-ba0a-4efd-82b5-1e319a076d4b",
              "name": "Nominal",
              "value": "={{ $json.textPlain.match(/Total.*?Rp\\s*([\\d\\.]+)/s)?.[1].replace(/\\./g, \"\") }}",
              "type": "string"
            },
            {
              "id": "7354b762-b651-4ed8-aa44-7183fbe56ff2",
              "name": "Nominal",
              "value": "=cloud",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        -112
      ],
      "id": "d106d6c7-ea37-461a-a424-b6516e9fc114",
      "name": "Asus"
    }
  ],
  "pinData": {},
  "connections": {
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Asus",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Grab",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tokopedia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grab": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Tokopedia": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Asus": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "50d7c382-dc28-4c72-ba2f-55ba7e4d8919",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0adcf940c15f27c3b96f3bd4c5c640db86e15006f716c809e8f87ae00db62d2e"
  },
  "id": "wtMuvZqmsLdXgh4u",
  "tags": []
}